/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
.phpunit.result.cache
dump.rdb
resources/sass/.sass-cache
resources/sass/*/sass/.sass-cache
resources/*/scss/.sass-cache

storage/clockwork
storage/debugbar

public/mix.js.map
public/*/css/**
public/css/
public/css/*
public/wac/css/*
public/js/
public/js/*
public/*/js/**
public/*/webfonts/*
public/*/webfonts/**
public/*/js/external/**
public/coverage
public/*/sitemap.xml
public/*/sitemap*.xml
public/*.xml
public/*.html
public/tc_*.html
public/wac_*.html
public/asp_*.html
public/feeds/**/*
!public/feeds/**/.gitkeep
public/mix-manifest.json

.DS_Store
/bootstrap/cache/**
.sass-cache
yarn.lock

package-lock.json
*.conf
*.csv

# Ignore files / folder
!.gitkeep

gulpfile.js
/public/temp.php

*.save
*.save.1

deploydate.txt

/storage/app/**/**/*
/storage/app/**/*
!/storage/app/**/.gitkeep
!/storage/app/**/**/.gitkeep

# cypress
cypress/screenshots
cypress/videos
cypress.env.json

#jest
coverage/
!/storage/app/wac/magazines/.gitkeep

#phpunit
phpunittests-dump.txt
