.main-segment + .main-segment--ad {
    margin-top: $marginDefault;
}

.section--ad .wrapper {
    background-color: $white;
    padding: 0;
}
.section--ad .ad a,
.section--ad .ad img {
    display: block;
    margin: auto;
}

.section {
    &.section--topAd {
        .topAd {
            margin: auto;
            width: 728px;
        }
    }
}
