.main-segment + .main-segment--ad {
    margin-top: $marginDefault;
}

.section--ad .wrapper {
    background-color: $white;
    padding: 0;
}
.section--ad .ad a,
.section--ad .ad img {
    display: block;
    margin: auto;
}

.section {
    &.section--topAd {
        .topAd {
            margin: auto;
            width: 728px;
        }

        @media (max-width: 666px) {
            position: fixed;
            top: -1px;
            right: 0;
            left: 0;
            height: 90px;
            background: white;
            margin-top: 0;
        }
    }
}
