.bgAd {
    display: none;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: $z-index-3;
    width: $skyscraperWidth;
    min-height: 600px;
    overflow: hidden;
    @include bp(xxlg) {
        //background-color: $white;
        //width: calc((100% - #{$maxWidth}) / 2);
    }
}
.ad--takeover .bgAd {
    @include bp(xxlg) {
        display: inline-block;
    }
}

.adTrack {
    position: absolute;
    z-index: 221;
    top: -246px;
    bottom: -50px;
    width: 160px;

    &.--left {
        left: -160px;
    }

    &.--right {
        right: -160px;
    }

    @media (max-width: 1365px) {
        display: none;
    }
}
