/** This is a placeholder so I can test, this can and will be changed :) */
.section--breaking-news {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: black;
    color: red;
    padding: 20px;
    text-align: center;
}
