.section--categoryHero .wrapper {
    background-color: $white;
}
.section--categoryHero .wrapper {
    @include bp(md) {
        display: flex;
        flex-wrap: wrap;
    }
}
.categoryHero-primaryItem {
    @include bp(md) {
        flex: 0 0 100%;
    }
}
.categoryHero-secondaryItems {
    @include bp(md) {
        display: flex;
        flex: 0 0 100%;
        justify-content: space-between;
    }
}
.categoryHero-secondaryItems .articleSnippet-item {
    display: flex;
    justify-content: space-between;
    @include bp(md) {
        flex: 0 0 24%;
    }
}
.categoryHero-secondaryItems .articleSnippet-thumb {
    flex: 0 0 60px;
}
.categoryHero-secondaryItems .articleSnippet-content {
    flex: 0 0 calc(100% - 70px);
}
.categoryHero-secondaryItems .articleSnippet-content p {
    display: none;
}
