.section--competitions {
    @include bp(smd) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.section--competitions .section-header {
    @include bp(smd) {
        flex: 0 0 $fullCol;
        max-width: $fullCol;
    }
}
.section--competitions .articleSnippet-item {
    display: flex;
    //justify-content: space-between;
    @include bp(smd) {
        flex-basis: $threeColsSmd;
        margin-top: $marginDefault;
        max-width: $threeColsSmd;
    }
    @include bp(lg) {
        flex-basis: $threeColsLg;
        max-width: $threeColsLg;
    }
    @media (max-width: 1023px) {
        .articleSnippet-title {
            @include truncate(4);
        }
    }
}
.section--competitions .articleSnippet-thumb,
.section--competitions .articleSnippet-content {
    @include bp(smd) {
        flex-basis: $fullCol;
        max-width: $fullCol;
    }
}
.section--competitions .articleSnippet-content {
    @include bp(smd) {
        margin-top: $marginHalfDefault;
    }
}
.section--competitions .articleSnippet-item + .articleSnippet-item {
    @include bp(smd) {
        border-top: 0;
        padding-top: 0;
    }
    @include bp(lg) {
        margin-top: $gutterLg;
    }
}
.section--competitions .articleSnippet-item:nth-of-type(1) {
    margin-right: -$paddingDefault;
    margin-left: -$paddingDefault;
    justify-content: space-between;
    @include bp(sm) {
        margin-right: -$paddingSm;
        margin-left: -$paddingSm;
    }
    @include bp(smd) {
        flex-basis: $fullCol;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        max-width: $fullCol;
    }
    a {
        @media (max-width: 666px) {
            margin-right: 0;
        }
    }
}
.section--competitions .articleSnippet-item:nth-of-type(1) .articleSnippet-thumb {
    flex-basis: $fullCol;
    max-width: $fullCol;
    @include bp(lg) {
        flex-basis: $twoThirdsColLg;
        order: 2;
        max-width: $twoThirdsColLg;
    }
}
.section--competitions .articleSnippet-item:nth-of-type(1) .articleSnippet-content {
    flex-basis: $fullCol;
    margin-top: 15px;
    max-width: $fullCol;
    padding: 0 $paddingDefault;
    @include bp(sm) {
        padding-right: $paddingSm;
        padding-left: $paddingSm;
    }
    @include bp(smd) {
        padding-right: 0;
        padding-left: 0;
    }
    @include bp(lg) {
        flex-basis: $oneThirdColLg;
        order: 1;
        margin-top: 0;
        max-width: $oneThirdColLg;
    }
}
.section--competitions .articleSnippet-item:nth-of-type(1) .articleSnippet-title {
    //TODO: standardise typography
    font-size: rc(20);
    font-weight: $fontWeight-bold;
    line-height: rc(24);
    @include bp(lg) {
        //TODO: standardise typography
        font-size: rc(24);
        line-height: rc(28);
    }
    @media (max-width: 1023px) {
        @include truncate(2);
    }
    @media (max-width: 666px) {
        @include truncate(3);
    }
}
.section--competitions .articleSnippet-item:nth-of-type(1) .articleSnippet-content p {
    display: none;
    @include bp(smd) {
        display: -webkit-box;
        //@include truncate(4);
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            display: block;
        } //IE11
    }
}
.section--competitions .articleSnippet-item:nth-of-type(2) {
    border-top: 0;
    //margin-top: $marginHalfDefault;
    @include bp(smd) {
        //margin-top: $gutterSmd;
    }
    @include bp(lg) {
        flex-basis: $oneThirdColLg;
        //margin-top: $gutterLg;
        max-width: $oneThirdColLg;
    }
}
