$auxiliarNavBgColor: $white;
$btnSearchColor: $grey2;

.header-auxiliaryNav {
    display: flex;
    flex: 0 0 95px;
    justify-content: space-between;
    align-items: center;
    background: $auxiliarNavBgColor;
    max-width: 95px;
    height: 94px;
    @include bp(sm) {
        flex-basis: 50%;
        max-width: 50%;
    }
    @include bp(smd) {
        height: 61px;
    }
    @include bp(lg) {
        position: relative;
        z-index: ($z-index-2 + 2);
        transform: translateY(35px);
        height: 28.14px;
    }
}
.header-auxiliaryNav .btn--search {
    position: relative;
    display: block;
    z-index: $z-index-3;
    flex: 0 0 23px;
    margin-right: 11px;
    margin-left: auto;
    @include bp(sm) {
        margin-right: 21px;
    }
    @include bp(xmd) {
        margin-right: 36px;
        background-position: 0 center;
        padding-left: 32px;
        width: auto;
        text-indent: 0;
        color: $btnSearchColor;
        font-family: $headingFont;
        font-weight: $fontWeight-bold;
    }
}
.header-auxiliaryNav .btn--profile {
    position: relative;
    display: block;
    z-index: $z-index-3;
    flex: 0 0 22px;
    margin-right: 13px;
    margin-left: 0;
    background-color: $headerBgColor;
    @include bp(sm) {
        margin-right: 23px;
    }
    @include bp(xmd) {
        margin-right: 0;
    }
}
.header-auxiliaryNav .btn--toggleNav {
    position: relative;
    flex: 0 0 26px;
    z-index: $z-index-3;
    margin-right: 0;
    margin-left: 0;
    @include bp(xmd) {
        display: none;
    }
}
.btn--toggleNav {
    position: relative;
    background-color: $white;
    padding: 0;
    width: 26px;
    height: 20px;
    text-indent: -9999px;
}
.btn--toggleNav::after {
    @include animate;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: image-url('i-menu.svg') center center no-repeat;
    background-size: 26px 22px;
    width: 40px;
    height: 40px;
    content: '';
}
.btn--toggleNav.is-active::after {
    transform: translate(-50%, -50%) rotate(180deg);
    background-image: image-url('i-close.svg');
    background-size: 20px 20px;
    @include bp(md) {
        background-size: 20px 20px;
    }
}
.btn--search {
    @include animate;
    border: 0;
    background: image-url('i-magnifier.svg') center center no-repeat;
    background-size: 23px 23px;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
}
.btn--profile {
    @include animate;
    border: 0;
    background: image-url('i-profile.svg') center center no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    text-indent: -9999px;
}
