$headerFontFamily: $headingFont;
$headerBgColor: $white;
$headerBorderColor: $grey5;

//sticky nav bar when scrolled past its offset position
.header-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: -70px;
    z-index: 220;
    @media (max-width: 666px) {
        border-bottom: #9e9e9e 1px solid;
    }
    @media (max-width: 1023px) {
        top: -56px;
    }
    @media (max-width: 980px) {
        //position: relative;
        top: -1px;
        z-index: 202;
    }
}
//end sticky

.mainHeader {
    position: relative;
    left: 50%;
    z-index: ($z-index-2 + 1);
    transform: translateX(-50%);
    margin: 0 auto;
    background-color: $headerBgColor;
    width: 100%;
    height: 94px;
    font-family: $headerFontFamily;
    @include bp(smd) {
        height: 60px;
    }
    @include bp(xmd) {
        position: relative;
        height: auto;
    }
    @include bp(lg) {
        background-color: transparent;
    }
    @media (max-width: 666px) {
        height: 54px;
    }
    & > .wrapper {
        background: #fff;
        @media (max-width: 666px) {
            padding: 0;
        }
    }
}
.sticky-nav .mainHeader {
    position: fixed;
    top: 0;
    z-index: $z-index-4;
}
.mainHeader .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1023px) {
        border-bottom: $headerBorderColor 1px solid;
    }

    @include bp(lg) {
        background-color: $headerBgColor;
    }
}
.mainHeader .wrapper::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: ($z-index-2 + 1);
    background-color: $headerBgColor;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: '';
    @include bp(smd) {
        height: 60px;
    }
    @include bp(lg) {
        height: 70px;
    }
}
.mainLogo {
    display: flex;
    position: relative;
    align-items: center;
    z-index: $z-index-3;
    flex: 0 0 209px;
    margin-right: 0;
    margin-left: 0;
    background-color: $white;
    max-width: 209px;
    height: 94px;
    @include bp(smd) {
        flex-basis: 267.27px;
        height: 60px;
        max-width: 267.27px;
    }
    @include bp(lg) {
        flex-basis: 305px;
        padding-top: 33px;
        padding-bottom: 5px;
        max-width: 305px;
        height: auto;
    }
    @media (max-width: 666px) {
        background: transparent;
        height: 54px;
        margin-left: 1.4375em;
    }
    @media (max-width: 375px) {
        margin-left: 0.625em;
    }
}
.mainHeader .logo--travelweekly-main {
    display: block;
    width: 210px;
    background-size: 210px 22px;
    height: 20px;
    @include bp(smd) {
        background-position: left top;
        background-size: 267.27px 28.153px;
        width: 267.27px;
        height: 28.153px;
    }
    @include bp(lg) {
        background-size: 305px 31.55px;
        width: 305px;
        height: 31.55px;
    }
}
