.section--thisWeeksIssue .sidebarWidget-content {
    text-align: center;
}
.section--thisWeeksIssue img {
    display: block;
    margin: auto;
}
.section--thisWeeksIssue .sidebarWidget-permalink {
    display: inline-block;
}
.section--thisWeeksIssue .btn--readNow {
    display: block;
}
