.section--latestJobs {
    align-self: flex-start;
}
.section--latestJobs .sidebarWidget-header--icon {
    background: image-url('/public/twuae/img/i-jobs.svg') 22px center no-repeat;
    background-size: 46px 46px;
}
