.listenOn {
    @include fixPadding;
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: $marginDefault;
    max-width: 100%;
}
.listenOn-item {
    display: block;
    margin: 0 2.5px 16px;
    width: 100%;
    height: 58px;
    background: center center no-repeat;
    text-indent: -9999px;
    @include bp(sm) {
        margin-bottom: $marginDefault;
    }
    @include bp(smd) {
        margin-right: 5px;
        margin-left: 5px;
    }
    @include bp(lg) {
        margin-right: 8px;
        margin-left: 8px;
    }
}
.listenOn-item--spotify {
    flex: 0 0 158px;
    background-image: image-url('listen-spotify.jpg');
    max-width: 158px;
}
.listenOn-item--apple {
    flex: 0 0 159px;
    background-image: image-url('listen-apple.jpg');
    max-width: 159px;
}
.listenOn-item--google {
    flex: 0 0 229px;
    background-image: image-url('listen-google.jpg');
    max-width: 229px;
}
