$mainNavBgColor: $white;
$mainNavBgColorLg: $white;
$mainNavColor: $grey7;
$mainNavColorLg: $grey7;
$mainNavActiveColor: $grey2;
$mainNavActiveColorLg: $black1;
$mainNavHoverColor: $red0;
$mainNavSubMenuBgColor: $red0;
$mainNavSubMenuBgColorLg: $red0;
$manNavDividerColor: rgba(255, 255, 255, 0.1);
$subNavBgColor: $white;
$subNavColor: $grey2;
$subNavActiveColor: $grey2;
$subSubNavBgColor: $white;
$mainNavButtonPadding: 15px;

.mainNav {
    @include animate;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-index-1;
    //transform: translateY(-100vh);
    background-color: $mainNavBgColor;
    width: 100%;
    overflow-y: scroll;
    @include bp(xmd) {
        position: relative;
        flex: 0 0 100%;
        z-index: ($z-index-2 - 1);
        transform: translateY(0);
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: auto;
        overflow: initial;
    }
    .sticky-logo {
        left: 0;
        bottom: 19px;
        @media (max-width: 1023px) {
            bottom: 8px;
        }
    }
    .sticky-search {
        right: -3px;
        z-index: 200;
        bottom: 14px;
        button {
            background-size: 20px 19px;
            width: 20px;
            height: 20px;
        }
        @media (max-width: 1023px) {
            bottom: 2px;
        }
    }
    .sticky-logo,
    .sticky-search {
        display: flex;
        overflow: hidden;
        width: 0;
        transition: 0.2s;
        position: absolute;
        img {
            height: 11px;
            width: 24px;
            margin-top: 0.5px;
            object-fit: cover;
        }
        @media (max-width: 1023px) {
            img {
                margin-top: 7px;
            }
        }
        @media (max-width: 979px) {
            display: none;
        }
    }

    @media (max-width: 1023px) {
        position: relative;
        top: -7px;
    }
    @media (max-width: 979px) {
        height: 0;
    }
    @include bp(lg) {
        border-bottom: $headerBorderColor 1px solid;
    }
}
.mainNav.is-active {
    transform: translateY(0);
    @media (max-width: 979px) {
        height: calc(100vh - 165px);
    }
    @media (max-width: 666px) {
        height: calc(100vh - 144px);
    }
}
.mainNav > ul {
    padding: 45px $paddingDefault 50px;
    width: 100%;
    transition: 0.2s;
    @include bp(sm) {
        padding-right: $paddingSm;
        padding-left: 0;
        //padding-left: $paddingSm;
    }
    @include bp(smd) {
        padding-top: 45px;
        padding-right: $paddingSmd;
        //padding-left: $paddingSmd;
    }
    @include bp(xmd) {
        display: flex;
        position: relative;
        //justify-content: space-between;
        z-index: $z-index-2;
        background-color: $mainNavBgColorLg;
        padding: 0;
    }
    @include bp(lg) {
        justify-content: flex-start;
    }
    @media (max-width: 666px) {
        padding-left: 24px;
    }
    @media (max-width: 375px) {
        padding-left: 11px;
    }
}
.mainNav > ul::after {
    @include bp(xmd) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: ($z-index-1 + 1);
        background-color: $mainNavBgColorLg;
        width: 100%;
        height: 100%;
        pointer-events: none;
        content: '';
    }
}
.mainNav > ul > li {
    @include bp(smd) {
        button,
        a {
            span {
                display: block;
                transform: translateY(2px);
                @media (max-width: 1023px) {
                    transform: translateY(5px);
                }
            }
        }
        width: 38%;
    }
    @include bp(xmd) {
        width: auto;
    }
}
.mainNav > ul > li:first-of-type button,
.mainNav > ul > li:first-of-type a {
    padding-left: 0;
}
.mainNav > ul > li:last-of-type button,
.mainNav > ul > li:last-of-type a {
    padding-right: 0;
}
.mainNav > ul li > a,
.mainNav > ul li > button {
    @include animate;
    position: relative;
    z-index: 2;
    background-color: $white;
    @include bp(xmd) {
        z-index: ($z-index-1 + 2);
    }
}
.mainNav > ul li:hover > a,
.mainNav > ul li:hover > button {
    @include bp(lg) {
        color: $mainNavHoverColor;
    }
}
.mainNav > ul li.is-active > a,
.mainNav > ul li.is-current > a,
.mainNav > ul li.is-active > button,
.mainNav > ul li.is-current > button {
    color: $mainNavActiveColor;
    font-weight: $fontWeight-bold;
    @include bp(xmd) {
        color: $mainNavActiveColorLg;
    }
}
.mainNav > ul > li > a {
    @include bp(xmd) {
        position: relative;
        padding: 0 15px;
        line-height: rc(33);
    }
    @include bp(lg) {
        line-height: rc(50);
    }
    @media (max-width: 1023px) {
        padding: 0 12px;
    }
    @media (max-width: 979px) {
        padding: 0;
    }
}
.mainNav > ul > li > button {
    @include bp(xmd) {
        height: 33px;
    }
    @include bp(lg) {
        height: 50px;
    }
}
.mainNav li > a,
.menuParentItem > button,
.extraMenu--mainNav button {
    display: block;
    padding: 6.5px 0;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: $mainNavColor;
    font-family: $headerFontFamily;
    font-size: rc(22);
    @include bp(smd) {
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        font-size: rc(14);
    }
    @include bp(xmd) {
        padding: 0;
        text-align: center;
        white-space: nowrap;
        letter-spacing: 0.28px;
    }
}
.mainNav > ul > li:last-child > button,
.mainNav > ul > li:last-child > a {
    @include bp(lg) {
        padding-right: 0;
    }
}
.extraMenu--mainNav button {
    @include bp(lg) {
        padding: 0;
    }
}
.mainNav button {
    border: 0;
    background-color: transparent;
}

.menuParentItem button {
    width: 100%;
    text-align: left;
}
.menuParentItem .subMenu li > a {
    padding-left: 40px;
    @include bp(xmd) {
        text-transform: none;
        color: $white;
    }
}
.mainNav .menuParentItem .subMenu li > a {
    background-color: $subSubNavBgColor;
    padding-left: 0;
    text-transform: none;
    @include bp(xmd) {
        position: relative;
        background-color: transparent;
        padding: 5px 22px 5px 0;
        color: $subNavColor;
        text-align: left;
        font-size: rc(14);
        line-height: rc(20);
    }
}
.mainNav .menuParentItem .subMenu .is-current > a::before {
    @include bp(xmd) {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: $red1;
        width: 5px;
        height: 5px;
        content: '';
    }
}
.mainNav .menuParentItem button {
    position: relative;
    width: 100%;
    text-align: left;
    @include bp(smd) {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    @include bp(xmd) {
        padding: 0 15px;
    }
}
.mainNav .menuParentItem button::before {
    @include animate;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: image-url('/public/twuae/img/i-arrow-red.svg') left center no-repeat;
    background-size: 9px 16px;
    width: 9px;
    height: 16px;
    content: '';
    @include bp(xmd) {
        display: none;
    }
}
.mainNav .menuParentItem.is-active button::before {
    transform: translateY(-50%) rotate(-90deg);
    @include bp(smd) {
        transform: translateY(-50%);
    }
}
.menuParentItem {
    @include animate;
}
.menuParentItem::before {
    @include bp(xmd) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: ($z-index-1 + 1);
        background-color: $mainNavBgColorLg;
        width: 100%;
        height: 33px;
        pointer-events: none;
        content: '';
    }
    @include bp(lg) {
        display: none;
    }
}
.mainNav .subMenu {
    transition: opacity 0.2s ease, height 0.4s ease-in-out 0.5s, transform 0.2s ease-in-out;
    transform: translateY(0);
    z-index: 1;
    opacity: 0;
    height: 0;
    pointer-events: none;
    width: calc(100% + 2px);
    @include bp(smd) {
        position: absolute;
        left: 52.1%;
    }
    @include bp(xmd) {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 40px;
        left: 29px;
        z-index: $z-index-1;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        pointer-events: none;
        margin-right: -$paddingXmd;
        margin-left: -$paddingXmd;
        background-color: $subNavBgColor;
        padding: 40px 0 0;
        height: auto;
        min-height: 525px;
        overflow: hidden;
    }
    @include bp(lg) {
        flex-basis: calc(100% + #{($paddingLg * 2)});
        margin-right: -$paddingLg;
        margin-left: -$paddingLg;
        //padding-right: $paddingLg;
        //padding-left: $paddingLg;
    }
    @media (max-width: 1023px) {
        top: 33px;
        left: 34px;
        min-height: 491px;
    }
    @media (max-width: 979px) {
        top: 39px;
        left: 51%;
        min-height: inherit;
    }
}
.mainNav .is-current > .subMenu {
    @include bp(xmd) {
        opacity: 0;
        pointer-events: none;
    }
}
.mainNav .is-active > .subMenu {
    transform: translateY(8px);
    opacity: 1;
    pointer-events: initial;
    padding-top: 6px;
    height: auto;
    @include bp(smd) {
        padding-top: 0;
    }
    @include bp(xmd) {
        opacity: 1;
        border-bottom: $grey5 1px solid;
        padding-top: 22px;
        pointer-events: initial;
    }
}
.mainNav > ul > li:hover .subMenu {
    @include bp(1025px) {
        transform: translateY(10px);
        opacity: 1;
        border-bottom: $grey5 1px solid;
        pointer-events: initial;
    }
}
.mainNav .subMenu > ul {
    @include bp(xmd) {
        position: relative;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.mainNav .subMenu li {
    @include bp(xmd) {
        display: inline-block;
        width: 100%;
    }
}
.mainNav .subMenu li.is-current > a {
    @include bp(xmd) {
        color: $mainNavActiveColor;
    }
}
.mainNav .subMenu li > a,
.mainNav .subMenu .menuParentItem > button {
    @include animate;
    background-color: $mainNavSubMenuBgColor;
    font-size: rc(16);
    @include bp(smd) {
        font-size: rc(14);
    }
    @include bp(xmd) {
        max-width: 190px;
        font-size: rc(20);
    }
    @include bp(lg) {
        font-size: rc(16);
        white-space: nowrap;
    }
}
.mainNav .menuParentItem > button {
    @include bp(lg) {
        position: relative;
    }
}
.mainNav .subMenu li:last-of-type a {
    padding-bottom: 20px;
    @include bp(xmd) {
        padding-bottom: 5px;
    }
}
.mainNav .subMenu li.is-current .subMenu-featuredArticles {
    @include bp(xmd) {
        display: block;
        z-index: 1;
    }
}
.mainNav .subMenu li:hover .subMenu-featuredArticles {
    @include bp(lg) {
        display: block;
        z-index: 2;
    }
}

body {
    &.search-is-active {
        .bgAd--1,
        .bgAd--2 {
            opacity: 0;
            pointer-events: none;
        }
    }
    &.is-stuck {
        .sticky-logo,
        .sticky-search {
            width: 24px;
        }
        .search--container {
            top: 50px;
            position: fixed;
            height: calc(100vh - 50px);
            @media (max-width: 1023px) {
                top: 38px;
                height: calc(100vh - 38px);
            }
            @media (max-width: 979px) {
                top: 60px;
                height: calc(100vh - 60px);
            }
            @media (max-width: 666px) {
                top: 53px;
                height: calc(100vh - 53px);
            }
        }
        .mainNav {
            & > ul {
                margin-left: 50px;
                @media (max-width: 979px) {
                    margin-left: 0;
                }
                @media (max-width: 666px) {
                    margin-left: 12px;
                }
                @media (max-width: 375px) {
                    margin-left: 0;
                }
            }
            &.is-active {
                @media (max-width: 979px) {
                    height: calc(100vh - 53px);
                }
            }
        }
        .subMenu {
            left: -21px;
            width: calc(100% + 3.25em);
            @media (max-width: 1023px) {
                left: -16px;
            }
            @media (max-width: 979px) {
                left: 51%;
            }
        }
    }
}
