.section--newsletter {
    align-self: flex-start;
}
.section--newsletter .sidebarWidget-header--icon {
    background: image-url('/public/twuae/img/i-newsletter.svg') 22px center no-repeat;
    background-size: 46px 46px;
}
