.section--photosAndVideos {
    @include bp(smd) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.section--photosAndVideos .section-header {
    @include bp(smd) {
        flex: 0 0 $fullCol;
        max-width: $fullCol;
    }
}
.section--photosAndVideos .articleSnippet-item {
    flex-wrap: nowrap;
    flex-direction: column;
    align-self: auto;
    justify-content: flex-start;
    a {
        position: relative;
        //flex: 0 1 0px;
        //flex-basis: 0 !important;
        //min-height: auto;
        width: 100%;
        .btn--partnerContent {
            position: absolute;
            bottom: 10px;
            left: 10px;
            z-index: 4;
            margin-top: 0;
            @media (max-width: 400px) {
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }

    .articleSnippet-content {
        //flex: 1 1 0px;
        flex: 1;
        display: flex;
        flex-direction: column;
        @media (max-width: 666px) {
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                margin-left: 10px;
            } //IE
        }
        .articleSnippet-title {
            //flex:1 1 43px;
            flex: 1;
            max-height: 139px;
            @media (max-width: 666px) {
                //flex:1 1 51px;
                max-height: inherit;
                line-height: 23px;
            }
        }
    }

    @include bp(smd) {
        //flex-basis: $threeColsSmd;
        max-width: $threeColsSmd;
        width: $threeColsSmd;
    }
    @include bp(lg) {
        //flex-basis: $threeColsLg;
        max-width: $threeColsLg;
        width: $threeColsLg;
    }
    @media (max-width: 666px) {
        flex-direction: row;
        //justify-content: space-between;
        a {
            //flex: 1 0 0;
            //flex-basis: calc(50% - 15px) !important;
        }
        &:nth-child(2) {
            flex-direction: column;
        }
    }
}

.section--photosAndVideos .articleSnippet-item + .articleSnippet-item {
    @include bp(smd) {
        border-top: 0;
        margin-top: $gutterSmd;
        padding-top: 0;
    }
    @include bp(lg) {
        margin-top: $gutterLg;
    }
}
.section--photosAndVideos .articleSnippet-item .articleSnippet-thumb,
.section--photosAndVideos .articleSnippet-item .articleSnippet-content {
    @include bp(smd) {
        //flex-basis: $fullCol;
        max-width: $fullCol;
    }
}
.section--photosAndVideos .articleSnippet-item .articleSnippet-content {
    @include bp(smd) {
        margin-top: $marginHalfDefault;
    }
}

.section--photosAndVideos .articleSnippet-item .articleSnippet-metaData {
    margin-top: 3px;
    @include bp(smd) {
        margin-top: $marginHalfDefault;
    }
}
.section--photosAndVideos .btn--partnerContent {
    margin-top: 15px;
}
.section--photosAndVideos .articleSnippet-item:nth-of-type(1) {
    display: flex;
    position: relative;
    //justify-content: space-between;
    margin-right: -$paddingDefault;
    margin-left: -$paddingDefault;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height: 423px;
    } //IE
    @include bp(sm) {
        margin-right: -$paddingSm;
        margin-left: -$paddingSm;
    }
    @include bp(smd) {
        //@debug: $fullCol;
        margin-right: 0;
        margin-left: 0;
        max-width: $fullCol;
        width: 100%;
    }
    @include bp(lg) {
        //flex-basis: $twoThirdsColLg;
        max-width: $twoThirdsColLg;
    }
    .articleSnippet-content {
        @media (max-width: 666px) {
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                margin-left: 0;
            } //IE
        }
    }
    a {
        @media (max-width: 666px) {
            margin-right: 0;
        }
    }
}
.section--photosAndVideos .articleSnippet-item:nth-of-type(1) .articleSnippet-thumb {
    //flex-basis: $fullCol;
    max-width: $fullCol;
}
.section--photosAndVideos .articleSnippet-item:nth-of-type(1) .articleSnippet-title {
    //TODO: standardise typography
    font-size: rc(20);
    font-weight: $fontWeight-bold;
    line-height: rc(28);
    @include bp(smd) {
        //TODO: standardise typography
        font-size: rc(20);
        line-height: rc(24);
    }
}
.section--photosAndVideos .articleSnippet-item:nth-of-type(1) .articleSnippet-content {
    //flex-basis: $fullCol;
    margin-top: 14px; //TODO: check with designer and standardise
    padding: 0 $paddingDefault;
    max-width: $fullCol;
    @include bp(sm) {
        padding-right: $paddingSm;
        padding-left: $paddingSm;
    }
    @include bp(smd) {
        padding-right: 0;
        padding-left: 0;
    }
}
.section--photosAndVideos .articleSnippet-item:nth-of-type(1) .articleSnippet-metaData {
    margin-top: $marginHalfDefault;
}
.section--photosAndVideos .articleSnippet-item:nth-of-type(2) {
    border-top: 0;
    margin-top: $marginHalfDefault;
    @include bp(smd) {
        margin-top: $gutterSmd;
    }
    @include bp(lg) {
        //flex-basis: $oneThirdColLg;
        margin-top: 0;
        max-width: $oneThirdColLg;
    }
}
.section--photosAndVideos .articleSnippet-item:nth-of-type(5) {
    display: none;
    @include bp(lg) {
        display: flex;
    }
}
