.section--podcasts {
    align-self: flex-start;
}
.section--podcasts .sidebarWidget-header--icon {
    background: image-url('i-podcast.svg') 22px center no-repeat;
    background-size: 46px 46px;
}
