$popupOverlayBgColor: rgba(0, 0, 0, 0.6);
$popupSignUpFooterBgColor: $grey8;
$popupSignUpFooterColor: $white;
$popupSignUpFooterLinkColor: $red1;

.modal {
    font-family: $bodyFontFamily;
}
.modal-overlay {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $popupOverlayBgColor;
    overflow: hidden;
}
.modal-container {
    position: relative;
    flex: 0 0 100%;
    background: $white image-url('/public/twuae/img/logo-tw.svg') $paddingDefault 34.5px no-repeat;
    background-size: 163px 17px;
    max-width: 100%;
    height: 100vh;
    overflow-y: hidden;
    @include bp(sm) {
        background-position: $paddingSm 34.5px;
    }
    @include breakpoint((min-width em(450px)) (min-height em(650px))) {
        flex-basis: 375px;
        width: 375px;
        height: 90vh;
    }
    @include bp(lg) {
        background-position: $paddingLg 34.5px;
    }
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 95px $paddingDefault 0;
    width: 100%;
    height: auto;
    min-height: 137px;
    box-shadow: 0 0 25px 20px rgba(255, 255, 255, 0.9);
    z-index: 10;
    @include bp(sm) {
        padding-right: $paddingSm;
        padding-left: $paddingSm;
    }
    @include bp(lg) {
        padding-right: $paddingLg;
        padding-left: $paddingLg;
    }
}
.modal-title {
    @extend %articleTitle;
    @include bp(md) {
        font-size: rc(30);
        line-height: rc(48);
    }
}
.btn--modalClose {
    position: absolute;
    top: 30.5px;
    right: 24px;
    border: 0;
    background: transparent image-url('/public/twuae/img/i-close-circle-black.svg') center center no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    text-indent: -9999px;
}
.modal-content {
    padding: 0 $paddingDefault;
    width: 100%;
    height: calc(100vh - 217px);
    overflow-y: scroll;
    @include bp(sm) {
        padding-right: $paddingSm;
        padding-left: $paddingSm;
        height: calc(90vh - 217px);
    }
    @include bp(lg) {
        padding-right: $paddingLg;
        padding-left: $paddingLg;
    }
}
.modal-content .form {
    padding-top: 63px;
    padding-bottom: 30px;
}
.modal-footer {
    @include fixPadding;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    background: url('/public/twuae/img/logo-jmg.svg') center center no-repeat $popupSignUpFooterBgColor;
    background-size: 222px 80px;
    padding: 10px;
    width: 100%;
    height: 80px;
    box-shadow: 0 -10px 25px 20px rgba(255, 255, 255, 0.9);
    color: $popupSignUpFooterColor;
}
.modal-footer p .btn {
    background-color: transparent;
    color: $popupSignUpFooterLinkColor;
    font-family: $bodyFontFamily;
}
.form-extraInfo .form-field + .form-field {
    margin-top: 18px;
}
.btn--forgotPassword {
    text-transform: uppercase;
    text-decoration: none;
    font-size: rc(14);
    font-weight: $fontWeight-bold;
}
.btn--acknowledge {
    @extend %btn--primary;
    //display: block;
    width: 100%;
}
.btn--dismiss {
    @extend %btn--secondary;
    //display: block;
    width: 100%;
}
.modal-content p + .btn {
    margin-top: 54px;
}
.modal-content .btn + .btn {
    margin-top: 30px;
}
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}
.micromodal-slide {
    display: none;
}
.micromodal-slide.is-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-4;
}
.micromodal-slide[aria-hidden='false'] .modal-overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden='false'] .modal-container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden='true'] .modal-overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden='true'] .modal-container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide .modal-container,
.micromodal-slide .modal-overlay {
    will-change: transform;
}

//TODO: figure out a way to control height dynamically (probably will need js)
.modal-container--login {
    @include breakpoint((min-width em(450px)) (min-height em(650px))) {
        max-height: 650px;
    }
}
.modal-container--signUp {
    @include breakpoint((min-width em(450px)) (min-height em(650px))) {
        max-height: 1020px;
    }
}
.modal-container--forgotPassword {
    @include breakpoint((min-width em(450px)) (min-height em(650px))) {
        max-height: 420px;
    }
}
.modal-container--emailUnconfirmed {
    @include breakpoint((min-width em(450px)) (min-height em(650px))) {
        max-height: 450px;
    }
}
.modal-container--paywall {
    @include breakpoint((min-width em(450px)) (min-height em(650px))) {
        max-height: 490px;
    }
}
.modal-container--createPassword {
    @include breakpoint((min-width em(450px)) (min-height em(650px))) {
        max-height: 450px;
    }
}
.modal-container--resetPassword {
    @include breakpoint((min-width em(450px)) (min-height em(650px))) {
        max-height: 450px;
    }
}
.modal-container--emailUnconfirmed {
    @include breakpoint((min-width em(450px)) (min-height em(650px))) {
        max-height: 440px;
    }
}
.modal-container--emailVerifiedFailed {
    @include breakpoint((min-width em(450px)) (min-height em(650px))) {
        max-height: 440px;
    }
}
.modal-container--updateSuccessful {
    @include breakpoint((min-width em(450px)) (min-height em(650px))) {
        max-height: 320px;
    }
}
.modal-container--passwordChanged {
    @include breakpoint((min-width em(450px)) (min-height em(650px))) {
        max-height: 320px;
    }
}
