$backgroundHolder: $grey5;
$searchLinkColor: $red1;

.search--container {
    @include animate;
    display: none;
    position: absolute;
    top: 210px;
    left: 0;
    z-index: $z-index-5;
    opacity: 0;
    background-color: #f6f6f6;
    padding: 60px 0 0;
    width: 100%;
    min-height: 200px;
    height: calc(100vh - 225px);
    box-shadow: 0px 7px 11px -5px rgba(0, 0, 0, 0.4);
    border-top: 1px solid $grey5;
    @media (max-width: 1023px) {
        top: 184px;
        height: calc(100vh - 184px);
    }
    @media (max-width: 979px) {
        top: 151px;
        height: calc(100vh - 151px);
    }
    @media (max-width: 666px) {
        top: 144px;
        height: calc(100vh - 144px);
    }
}
.search--container.is-active {
    display: block;
    opacity: 1;
}
.search--input-container,
.btn--close,
.search--input-container + div {
    z-index: ($z-index-5 + 1);
}
.search--input-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.search-input {
    border: 0;
    background: $white;
    padding: 0;
    width: 100%;
    font-family: $bodyFontFamily;
    font-size: rc(14);
    line-height: rc(32);
}
.search-input::placeholder {
    color: transparentize($grey2, 0.7);
}
.search--input-container .btn--search {
    opacity: 0;
}
#___gcse_0 {
    overflow: scroll;
}
#___gcse_0.is-active {
    height: calc(100vh - 150px);
}
.search--container .gsc-control-cse,
.search--container .gsc-control-cse .gsc-table-result {
    font-family: $bodyFontFamily;
}
.search--container .gsc-control-cse {
    border: 0;
    padding: 0 20px 0 0;
}
.search--container .gsc-control-cse a,
.search--container .gsc-control-cse .gs-spelling,
.search--container .gsc-control-cse .gs-result .gs-title,
.search--container .gsc-control-cse .gs-result .gs-title * {
    color: $bodyDefaultColor;
}
.search--container .gs-promotion .gs-visibleUrl,
.search--container .gs-webResult .gs-visibleUrl {
    color: $searchLinkColor;
}
.gsc-results {
    width: 100% !important;
}
.gsc-thumbnail-inside,
.gsc-url-top,
.gsc-control-cse .gsc-table-result {
    padding: 0 !important;
}
.search--container .gsc-webResult .gsc-result {
    border-bottom: 1px solid $white2 !important;
    padding: 0 !important;
}
.search--container .gsc-webResult .gsc-result + .gsc-result {
    margin-top: 16px;
}
.gs-spelling {
    padding: 0 !important;
}
.gs-spelling a {
    color: $bodyDefaultColor !important;
}
.gs-webResult.gs-result {
    display: flex;
    flex-wrap: wrap;
}
.gsc-webResult.gsc-result + .gsc-expansionArea {
    margin-top: 20px;
}
.gc-control-cse .gs-spelling,
.gsc-control-cse .gs-result .gs-title,
.gsc-control-cse .gs-result .gs-title * {
    @include bp(md) {
        font-size: rc(20) !important;
    }
}
.gsc-webResult .gsc-url-top {
    order: 1;
    flex: 0 0 100%;
}
.gsc-thumbnail-inside {
    order: 2;
    flex: 0 0 100%;
    margin-top: 12px;
    @include bp(md) {
        margin-top: 0;
    }
}
.gs-promotion-image-box,
.gs-image-box.gs-web-image-box.gs-web-image-box-portrait,
.gs-image-box.gs-web-image-box.gs-web-image-box-landscape {
    @include bp(md) {
        transform: translateY(8px);
    }
}
.gsc-control-cse .gsc-table-result {
    order: 3;
    flex: 0 0 100%;
    margin-top: 3px;
}
.gs-result .gs-image,
.gs-result .gs-promotion-image {
    border: 0 !important;
}
.gs-promotion-image-box,
.gs-image-box.gs-web-image-box.gs-web-image-box-portrait,
.gs-image-box.gs-web-image-box.gs-web-image-box-landscape {
    transform: translateY(-24px);
    height: 70px !important;
    overflow: hidden;
}
.gs-web-image-box,
.gs-promotion-image-box {
    @include bp(lg) {
        float: right !important;
    }
}
.gs-web-image-box,
.gs-promotion-image-box {
    padding: 0 !important;
    @include bp(lg) {
        width: 102px !important;
    }
}
.gs-web-image-box .gs-image,
.gs-promotion-image-box .gs-promotion-image {
    max-width: 100px !important;
    max-height: 100px !important;
}
.gs-snippet {
    margin-top: 0 !important;
}
.gsc-wrapper {
    display: flex !important;
    flex-wrap: wrap;
    margin-top: 20px;
}
.gsc-resultsbox-visible,
.gsc-adBlock {
    flex: 0 0 100%;
}
.gsc-adBlock {
    order: 3;
    border: 0 !important;
}
.gsc-resultsbox-visible {
    order: 1;
}
.js-quick-search-target {
    order: 2;
    display: flex !important;
}
.gsc-results .gsc-cursor {
    display: flex !important;
    justify-content: center;
    color: $searchLinkColor !important;
    fill: $searchLinkColor !important;
}
.gsc-results .gsc-cursor-box {
    margin: 20px 0 !important;
    @include bp(lg) {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
}
.gsc-results .gsc-cursor-box .gsc-cursor-page,
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    background-color: transparent !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
    background-color: rebeccapurple !important;
    text-align: center !important;
    color: rebeccapurple !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    background-color: $searchLinkColor !important;
    color: $white !important;
}
.gs-no-results-result .gs-snippet,
.gs-error-result .gs-snippet {
    width: 100%;
    color: $black !important;
}
.gsc-expansionArea + .gcsc-find-more-on-google-root {
    margin-top: 10px;
}
