$topAdBgColor: $white;

.section--topAd {
    position: relative;
    z-index: ($z-index-2 + 3);
    margin-right: auto;
    margin-left: auto;
    background-color: $topAdBgColor;
    overflow: hidden;
    @include bp(lg) {
        min-height: 90px;
    }
}
.topAd {
    @include bp(lg) {
        margin: auto;
        width: 728px;
    }
}
.topAd > a,
.topAd > iframe,
.topAd img {
    display: block;
    margin: auto;
}
.topAd > a,
.topAd > iframe {
    min-height: 50px;
}
