.section--webcasts {
    align-self: flex-start;
}
.section--webcasts .sidebarWidget-header--icon {
    background: image-url('i-webcast.svg') 22px center no-repeat;
    background-size: 46px 46px;
}
