// add all colours with variables
$white: #fff;
$white1: #f2f2f2; //social media border on footer
$white2: #fafafa; //social media border on footer

$black: #000;
$black1: #1d2022;

$grey0: #ccc;
$grey1: #232323;
$grey2: #212426;
$grey3: #989898;
$grey4: #999;
$grey5: #9e9e9e;
$grey6: #141414;
$grey7: #676767;
$grey8: #2d2d2d;
$grey9: #747474;
$grey10: #707070;
$grey11: #00000029;
$grey12: #c9c9c9;
$grey13: #bcbdbd;
$grey14: #f2f2f2;
$grey15: #b3b4b4;

$red0: #fa0c0c;
$red1: #e21235;
$red2: #db0812;
$red3: #bd1f23;
