@import '../toolbox/toolbox';
@import '../1_global/typography';

$latestEditionColWidth: 330px;

.page--latest-edition .main-segment > .wrapper {
    @include bp(md) {
        justify-content: center;
    }
}
.page--latest-edition .main-content {
    @include bp(md) {
        // TODO: standardise this
        flex-basis: 750px;
        max-width: 750px;
        margin: 0 auto;
    }
}
.page--latest-edition .article-header {
    @include bp(md) {
        margin-top: -29px;
        display: flex;
        justify-content: space-between;
    }
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}
.page--latest-edition .article-title {
    @include bp(md) {
        flex: 0 0 $fullCol;
        max-width: $fullCol;
    }
}
.page--latest-edition .article-subtitle {
    margin-top: 22px;
    border-top: $white1 1px solid;
    padding-top: 17px;
    @include bp(md) {
        flex: 0 0 $latestEditionColWidth;
        border-top: 0;
        padding-top: 0;
        max-width: $latestEditionColWidth;
        pointer-events: none;
    }
}
.page--latest-edition .article-body .btn {
    display: block;
    height: 44px;
    padding-top: 11px;
    max-width: $latestEditionColWidth;
    @media (max-width: 768px) {
        width: 100%;
        max-width: inherit;
    }
}
.page--latest-edition .article-linksList {
    border: 0;
    border-bottom: #d9d9d9 1px solid;
}
.page--latest-edition .article-hero {
    @include bp(md) {
        margin-top: 0;
        flex: 0 0 $latestEditionColWidth;
        max-width: $latestEditionColWidth;
    }
    @media (max-width: 768px) {
        order: 1;
        margin: 20px auto;
        max-width: 330px;
    }
}
.page--latest-edition .article-hero img {
    margin-left: 0;
    @media (max-width: 768px) {
        width: 100%;
    }
}
.page--latest-edition .article-body--digitalVersionContent {
    a.btn--primary {
        &:hover {
            color: white;
        }
    }
    @include bp(md) {
        display: flex;
        flex-direction: column;
        padding-top: 48px;
        h2 {
            margin-bottom: 31px;
        }
        a {
            margin-top: 25px;
            //border-radius: 4px;
        }
        flex: 0 0 $latestEditionColWidth;
        max-width: $latestEditionColWidth;
    }
    @media (max-width: 768px) {
        order: 2;
    }
}
.page--latest-edition .article-body--contentMenu {
    @include bp(md) {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-end;
        margin-top: 20px;
        padding-top: 0;
        a {
            margin-top: 0;
        }

        .article-linksList {
            width: 100%;
            a {
                background-position-y: 48%;
            }
            li {
                border-top: #d9d9d9 1px solid;
            }
        }
    }
}
.page--latest-edition .article-body--ctas {
    @include bp(md) {
        display: flex;
        flex: 0 0 $fullCol;
        justify-content: space-between;
        margin-bottom: 29px;
        margin-top: 68px;
        padding-top: 0;
        max-width: $fullCol;
    }
    @media (max-width: 767px) {
        margin-top: 5px;
    }
}
.page--latest-edition .article-body--ctas .article-bodySection {
    @include bp(md) {
        flex: 0 0 $latestEditionColWidth;
        margin-top: 0;
        border: 0;
        padding-top: 0;
        max-width: $latestEditionColWidth;
    }
    @media (max-width: 767px) {
        border: 0;
    }
}
