@import '../toolbox/toolbox';
@import '../1_global/typography';

@import '../2_components/most-popular';
@import '../2_components/sponsored-content';

.page--competition-single .main-content {
    @include bp(lg) {
        flex-basis: $mainContentWidthWithSidebarDefault;
        max-width: $mainContentWidthWithSidebarDefault;
    }

    .article-body {
        .article-body-title {
            font-weight: 800;
            font-size: 16px;
            margin-bottom: 13px;
            display: block;
            line-height: 12px;
        }
        p {
            margin-bottom: 16px;
        }
        section {
            border-top: 1px solid #f2f2f2;
            border-bottom: 1px solid #f2f2f2;
            padding: 16px 0 16px;
            margin: 16px 0;
            img {
                margin: 0;
            }
        }
        img {
            display: block;
            margin: 16px 0;
        }
        ul {
            padding-left: 16px;
            li {
                list-style-type: square;
            }
        }

        form {
            max-width: inherit;
            .btn--submit {
                max-width: inherit;
                height: 44px;
            }
        }

        .article-linksList {
            padding-left: 0;
            li {
                list-style: none;
            }
        }
        a {
            text-decoration: none;
        }
    }
}

.checkbox {
    margin: 15px 0;
}

// TODO: check with new designer if sidebar elements should show only on lg
