@import '../toolbox/toolbox';
@import '../1_global/typography';

@import '../2_components/listen-on';
@import '../2_components/most-popular';
@import '../2_components/sponsored-content';

.page--media--default .main-content {
    @include bp(lg) {
        flex: 0 0 $mainContentWidthWithSidebarDefault;
        max-width: $mainContentWidthWithSidebarDefault;
    }
}
.page--media--default .article-body {
    @include bp(smd) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.page--media--default .main-content .articleSnippet-item {
    @include bp(smd) {
        flex-basis: $twoColsSmd;
        margin-top: 0;
        margin-bottom: $marginDefault;
        max-width: $twoColsSmd;
    }
    @include bp(lg) {
        flex-basis: $twoColsLg;
        max-width: $twoColsLg;
    }
}
.page--media--default .main-content .articleSnippet-item + .articleSnippet-item {
    @include bp(smd) {
        border-top: 0;
        padding-top: 0;
    }
}
.page--media--default .main-content .articleSnippet-content,
.page--media--default .main-content .articleSnippet-thumb {
    @include bp(smd) {
        flex-basis: $fullCol;
        max-width: $fullCol;
    }
}
.page--media--default .main-content .articleSnippet-content {
    @include bp(smd) {
        margin-top: $marginHalfDefault;
    }
}
.page--media--default .main-content .articleSnippet-item--fullBg {
    margin-right: -$paddingDefault;
    margin-left: -$paddingDefault;
    @include bp(sm) {
        margin-right: -$paddingSm;
        margin-left: -$paddingSm;
    }
    @include bp(smd) {
        flex-basis: $fullCol;
        max-width: $fullCol;
        margin-right: 0;
        margin-left: 0;
    }
    @include bp(lg) {
        margin-bottom: $gutterLg;
    }
}
.page--media--default .main-content .articleSnippet-item--fullBg + .articleSnippet-item--fullBg {
    border-top: 0;
    margin-top: $marginDefault;
    padding-top: 0;
    @include bp(smd) {
        margin-top: 0;
    }
}
.page--media--default .main-content .articleSnippet-item--fullBg:nth-of-type(3),
.page--media--default .main-content .articleSnippet-item--fullBg:nth-of-type(4) {
    @include bp(smd) {
        margin-bottom: 0;
    }
}
.page--media--default .articleSnippet-item--fullBg .articleSnippet-thumb {
    flex-basis: $fullCol;
    max-width: $fullCol;
    min-height: 196px;
}
.page--media--default .articleSnippet-item--fullBg .articleSnippet-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //align-items: flex-end;
    flex-basis: $fullCol;
    width: 100%;
    max-width: $fullCol;
    @include bp(smd) {
        flex-wrap: wrap;
        margin-top: 0;
    }
}
.page--media--default .articleSnippet-item--fullBg .articleSnippet-title {
    flex-basis: $fullCol;
    max-width: $fullCol;
}
.page--media--default .sidebar {
    @include bp(lg) {
        flex-basis: $sidebarWidthDefault;
        max-width: $sidebarWidthDefault;
    }
}
.page--podcasts-list .listenOn,
.page--webcasts-list .listenOn {
    padding-bottom: $marginDefault;
    @include bp(smd) {
        margin-top: 0;
        padding-bottom: 0;
    }
}
.sidebar {
    @include bp(lg) {
        margin-top: 48px;
    }
    .sidebarAd {
        padding-bottom: 40px;
    }

    @media (max-width: 667px) {
        flex-direction: column;
        align-items: center;
        .section--latestJobs {
            align-self: center;
            margin-top: 40px;
        }
    }
}

.section.section--mostPopular.sidebar-widget {
    margin-top: 0;
}
.articleSnippet-item--fullBg .articleSnippet-content {
    padding: 20px 20px 0;
    .articleSnippet-title {
        margin: 0 0 4px;
    }
    .articleSnippet-metaData {
        margin-bottom: 15px;
    }
}

.articleSnippet-item--fullBg + {
    .articleSnippet-item {
        @media (max-width: 666px) {
            border-top: 0 !important;
        }
    }
}
