@import '../toolbox/toolbox';
@import '../1_global/typography';
@import '../2_components/related-articles';

.page--hub-list .main-segment {
    margin-top: 0;
}
.page--hub-list .article-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-right: -$paddingDefault;
    // margin-left: -$paddingDefault;
    // @include bp(sm) {
    //     margin-right: -$paddingSm;
    //     margin-left: -$paddingSm;
    // }
    // @include bp(smd) {
    //     margin-right: -$paddingSmd;
    //     margin-left: -$paddingSmd;
    // }
    // @include bp(lg) {
    //     margin-right: -$paddingLg;
    //     margin-left: -$paddingLg;
    // }
}
.page--hub-list .article-hero {
    width: 100%;
    position: relative;
    margin-top: 0;
}
.page--hub-list .article-body {
    @include bp(smd) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: $gutterSmd;
    }
    @include bp(lg) {
        padding-top: $gutterLg;
    }
}
.page--hub-list .article-body .articleSnippet-item {
    @include bp(smd) {
        flex-basis: $threeColsSmd;
        margin-bottom: $gutterSmd;
        border: 0;
        padding-top: 0;
        max-width: $threeColsSmd;
        align-self: flex-start;
    }
    @include bp(lg) {
        flex-basis: $threeColsLg;
        margin-bottom: $gutterLg;
        max-width: $threeColsLg;
    }
}
.page--hub-list .article-body .articleSnippet-item + .articleSnippet-item {
    @include bp(smd) {
        margin-top: 0;
        border: 0;
        padding-top: 0;
    }
}
.page--hub-list .article-body .articleSnippet-item .articleSnippet-thumb,
.page--hub-list .article-body .articleSnippet-item .articleSnippet-content {
    @include bp(smd) {
        flex-basis: $fullCol;
        max-width: $fullCol;
    }
}
.page--hub-list .article-body .articleSnippet-item .articleSnippet-content {
    @include bp(smd) {
        margin-top: $marginHalfDefault;
    }
}
.page--hub-list .article-body .articleSnippet-item .articleSnippet-title {
    //TODO: refactor with unified typography
    @include bp(lg) {
        font-size: rc(20);
        line-height: rc(32);
    }
}
.page--hub-list .article-byline {
    position: relative;
    z-index: 3;
    margin-top: 7px;
    font-size: rc(14); //TODO: check with designer as this is not default
    line-height: rc(20);
}
.page--hub-list .article-body .articleSnippet-item:nth-of-type(1) {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-right: -$paddingDefault;
    margin-left: -$paddingDefault;
    @include bp(sm) {
        align-items: flex-start;
        margin-right: -$paddingSm;
        margin-left: -$paddingSm;
    }
    @include bp(smd) {
        flex: 1 1 100%;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        max-width: none;
    }
}
.page--hub-list .article-body .articleSnippet-item:nth-of-type(1) .articleSnippet-title {
    margin-bottom: 0;
    pointer-events: initial;
    @include bp(smd) {
        color: $bodyDefaultColor;
    }
    @include bp(lg) {
        font-size: rc(26);
    }
}
.page--hub-list .article-body .articleSnippet-item:nth-of-type(1) .articleSnippet-thumb {
    flex-basis: $fullCol;
    max-width: $fullCol;
    @include bp(smd) {
        flex-basis: $twoColsSmd;
        order: 2;
        max-width: $twoColsSmd;
    }
    @include bp(lg) {
        flex-basis: $twoThirdsColLg;
        max-width: $twoThirdsColLg;
    }
}
.page--hub-list .article-body .articleSnippet-item:nth-of-type(1) .articleSnippet-content {
    @include bp(smd) {
        flex-basis: $twoColsSmd;
        order: 1;
        margin-top: 0;
        max-width: $twoColsSmd;
    }
    @include bp(lg) {
        flex-basis: $oneThirdColLg;
        max-width: $oneThirdColLg;
    }
}
.page--hub-list .article-body .articleSnippet-item:nth-of-type(1) .articleSnippet-content p {
    display: block;
}
.page--hub-list .article-body .articleSnippet-item:nth-of-type(1) .articleSnippet-metaData {
    margin-top: $marginHalfDefault;
    @include bp(smd) {
        margin-top: 17px;
    }
}
.page--hub-list .article-body .articleSnippet-item:nth-of-type(1) .btn--partnerContent {
    margin-top: $marginHalfDefault;
    @include bp(smd) {
        margin-top: 17px;
    }
}
.page--hub-list .article-body .articleSnippet-item:nth-of-type(2) {
    border-top: 0;
    margin-top: $marginHalfDefault;
    @include bp(smd) {
        margin-top: 0;
    }
}
.page--hub-list .sidebar {
    margin-bottom: 40px; //TODO: standardise this
    @include bp(lg) {
        flex-basis: $fullCol;
        max-width: $fullCol;
    }
}
.page--hub-list .article-author {
    color: $grey5;
}
.page--hub-list .btn--filter {
    line-height: rc(28);
}
.page--hub-list .article-quickFilterMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z-index-1;
    margin: 0;
    background-color: $white;
    width: 100%;
    box-shadow: 0 -1px 17px 0 rgba(0, 0, 0, 0.16);
    @include bp(smd) {
        position: inherit;
        bottom: inherit;
        left: inherit;
        flex: 1 1 380px;
        box-shadow: none;
    }
}
.page--hub-list .article-quickFilterMenu .btn {
    text-transform: uppercase;
    text-decoration: none;
    color: $grey13;
    font-weight: $fontWeight-bold;
    font-size: rc(14);
    line-height: rc(45);
    @include bp(smd) {
        margin-right: 5px;
        margin-left: 5px;
        background-color: $grey14;
        padding-right: 15px;
        padding-left: 15px;
        color: $grey15;
        line-height: rc(35);
    }
}
.page--hub-list .article-quickFilterMenu .btn.is-active {
    color: $red1;
    @include bp(smd) {
        background-color: $red1;
        color: $white;
    }
}
.page--hub-list .article-quickFilterMenu .btn--dropdown {
    @include bp(smd) {
        position: relative;
        padding-right: 35px;
    }
}
.page--hub-list .article-quickFilterMenu .btn--dropdown.is-active {
    @include bp(smd) {
        background-color: $red1;
    }
}
.page--hub-list .article-quickFilterMenu .btn--dropdown::after {
    @include bp(smd) {
        position: absolute;
        top: 50%;
        right: 11.5px;
        transform: translateY(-50%);
        background: image-url('/public/twuae/img/i-chevron-grey.svg') center center no-repeat;
        background-size: 14.14px 7.07px;
        width: 14.14px;
        height: 7.07px;
        content: '';
    }
}
