@import '../toolbox/toolbox';
@import '../1_global/typography';

.page--contact .main-content {
    @include bp(lg) {
        // TODO: standardise this
        flex-basis: 750px;
        max-width: 750px;
    }
}
.page--contact .article-body {
    @include bp(lg) {
        display: flex;
        justify-content: space-between;
    }
}
.page--contact .article-bodyCol {
    @include bp(lg) {
        flex: 0 0 $twoColsSmd;
        max-width: $twoColsSmd;
    }
}
.page--contact .article-body .form {
    margin-right: auto;
    margin-left: auto;
    max-width: 330px;
    @include bp(lg) {
        margin-right: 0;
        margin-left: 0;
        padding-bottom: 0;
        max-width: $fullCol;
    }

    select {
        height: 44px;
    }
    .btn--submit {
        height: 44px;
        margin-top: 50px;
        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    @media (max-width: 1023px) {
        max-width: inherit;
        margin: 0;
    }
}

.article-hero {
    #map {
        width: 100%;
        height: 324px;
        background: grey;
        @media (max-width: 666px) {
            margin-left: -23px;
            width: calc(100% + 46px);
        }
        @media (max-width: 375px) {
            margin-left: -10px;
            width: calc(100% + 20px);
        }
    }
}

.article-body.article-body--digitalVersionContent {
    padding-top: 14px;
}
a {
    text-decoration: none;
}

.article-header {
    @media (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        .article-body--digitalVersionContent,
        .article-hero,
        .btn--submit {
            max-width: inherit;
        }
        .article-body {
            order: 1;
        }
        .article-hero {
            order: 2;
        }
    }
}
