@import '../toolbox/toolbox';

.page--subscribe .article-bodySection--highlight .article-simpleSegment {
    margin-top: 30px;
    margin-bottom: 30px;
}
.page--subscribe .article-bodySection--highlight .article-simpleSegment .btn {
    margin-right: 15px;
}
.page--subscribe .article-bodySection--highlight .article-simpleSegment .btn + .btn {
    @include bp(520px) {
        margin-top: 0;
    }
}
.page--subscribe .article-simpleSegment--ctas {
    max-width: 330px;
}

.page--subscribe .article-body--ctas .article-bodySection.full {
    max-width: inherit;
    flex: 0 0 100%;
}
.article-subtitle {
    &.red {
        color: #e21235;
        text-transform: none;
        font-size: 24px;
    }
}

.page--latest-edition .article-body--digitalVersionContent {
    p {
        margin-bottom: 28px;
        &.or {
            text-align: center;
            margin: 30px 0;
            span {
                position: relative;
                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 24px;
                    background: #707070;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:before {
                    left: -35px;
                }
                &:after {
                    right: -35px;
                }
            }
        }
    }
    .btn {
        margin: 0;
    }
    @media (max-width: 666px) {
        padding-top: 0;
    }
}

@media (min-width: 48em) {
    .page--latest-edition .article-header {
        margin-top: -57px;
    }
    .page--latest-edition .article-body--digitalVersionContent {
        display: flex;
        flex-direction: column;
        padding-top: 68px;
        flex: 0 0 330px;
        max-width: 330px;
    }
}

.article {
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            a {
                text-decoration: none;
                &.phone {
                    color: inherit;
                }
            }
        }
    }
    .article-header {
        margin-bottom: 33px;
        .article-hero {
            img {
                margin-right: 0;
                box-shadow: 2px 9px 29px rgba(0, 0, 0, 0.12);
            }
        }
    }
    .article-body--ctas {
        margin-top: 38px;
        margin-bottom: 50px;
        p {
            margin-top: 25px;
            margin-bottom: 33px;
        }
        @media (max-width: 666px) {
            margin-top: 0;
        }
    }

    .rss-feeds {
        background: #f2f2f2;
        padding: 40px 20px 33px;
        h2 {
            font-weight: bold;
        }
        p {
            margin-top: 25px;
        }
        .rss {
            display: flex;
            margin-top: 21px;
            flex-wrap: wrap;
            a {
                border: 1px solid #e21235;
                border-radius: 3px;
                padding: 11px 23px 8px 53px;
                text-decoration: none;
                margin: 10px 0;
                margin-right: 19px;
                color: #e21235;
            }
        }
    }
}
.article-rss {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 21px;
        top: 50%;
        transform: translateY(-54%);
        width: 15px;
        height: 15px;
        background-image: image-url('/public/twuae/img/i-rss.svg');
        background-size: 15px 15px;
    }
}
